.lesson-hero {
    margin-bottom: 70px;
    padding: 50px 0;
    background: linear-gradient(106.47deg, #FFF0FD -2.03%, rgba(255, 255, 255, 0) 107.99%), #E6F6FF;
    @include media-xl() {
        padding: 40px 0;
    }
    @include media-m() {
        padding: 15px 0;
        margin-bottom: 24px;
    }

    &__title {
        margin: 0;
        margin-bottom: 26px;
        font-size: 36px;
        font-weight: 800;
        line-height: 1.2;
        @include media-xl() {
            font-size: 28px;
        }
        @include media-m() {
            font-size: 24px;
        }
    }

    &__slider {
        position: relative;
        margin-bottom: 33px;
        @include media-xxxl() {
            .swiper._playing ~ .lesson-hero__slider-control {
                display: none;
            }
        }
    }

    &__video-wrap {
        position: relative;
        &._playing {
            .lesson-hero__play-btn {
                display: none;
            }
            @include media-xl() {
                .lesson-hero__slider-control {
                    display: none;
                }
            }
        }
    }

    &__video {
        display: block;
        width: 100%;
    }

    &__play-btn {
        @include btn-reset();

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__play-icon {
        width: 180px;
        height: 180px;
        fill: rgba(255, 255, 255, 0.7);
        @include media-xl() {
            width: 120px;
            height: 120px;
        }
        @include media-m() {
            width: 50px;
            height: 50px;
        }
    }

    &__slider-control {
        @include btn-reset();
        position: absolute;
        top: 50%;
        width: 125px;
        height: 119px;
        margin: 0;
        background-repeat: no-repeat;
        background-size: contain;
        @include media-m() {
            width: 50px;
            height: 50px;
        }
        
        &::after {
            display: none;
        }
        
        &._prev {
            background-image: url("../images/slider-prev.png");
            left: 0;
            transform: translate(-100%, -50%);
            @include media-xxxl() {
                transform: translate(10%, -50%);
            }
        }
        
        &._next {
            background-image: url("../images/slider-next.png");
            right: 0;
            transform: translate(100%, -50%);
            @include media-xxxl() {
                transform: translate(-10%, -50%);
            }
        }

        &[disabled] {
            filter: grayscale(1)
        }
    }


}