// Fonts
$font-size: 24px;
$line-height: 1.2;
$font-family-default: 'Montserrat', sans-serif;

// Breakpoints
$breakpoint-xs: 340px;
$breakpoint-s: 576px;
$breakpoint-m: 767px;
$breakpoint-l: 991px;
$breakpoint-xl: 1199px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 1600px;

// Colors 
$color-text: #494A4D;
$color-white: #ffffff;
$color-dark: #2E2E2E;
$color-grey: #BDBDBD;
$color-blue: #0085FF;
$color-pink: #FD5D99;
$color-black: #171717;