{% extends '../modules/course-base.twig' %}
{% block page %}

{% include '../modules/lesson-hero.twig' %}

<div class="course">
    <div class="wrapper">
        <div class="course__inner">
            {% include '../modules/course-decor.twig' %}

            {% include '../modules/course-nav.twig' %}

            <div class="course__content">
                <div class="course__content-wrap">
                    <h2>Дополнительные материалы</h2>
                    <h3>Немного подробнее о релаксе</h3>
                    <p>Используемые узоры: соты из 20п: <br>
                        1р:*1п снять на вспомогательную спицу за работой, 1лп, снятую петлю провязать лицевой. 1п снять на вспомогательную спицу
                    </p>
                    <div class="course__img-set">
                        <div>
                            <img src="images/course-lesson/content-1.png" alt="">
                            <img src="images/course-lesson/content-2.png" alt="">
                            <img src="images/course-lesson/content-3.png" alt="">
                        </div>
                        <p>Используемые узоры: провязать лицевой. 1п</p>
                    </div>
                    <p>Используемые узоры: соты из 20п: <br>
                        1р:*1п снять на вспомогательную спицу за работой, 1лп, снятую петлю провязать лицевой. 1п снять на вспомогательную спицу
                    </p>
                    <blockquote>
                        <p>„Гораздо лучше совершать великие поступки, праздновать великие победы, даже если по пути случаются ошибки, чем вставать в ряды обычных людей, не знающих ни большой радости, ни большой беды, живущих серой жизнью, где нет ни побед, ни поражений.“</p>
                        <cite>Теодор Рузвельт</cite>
                    </blockquote>
                    <img src="images/course-lesson/nuts.png" alt="">
                    <small>Используемые узоры: провязать лицевой. 1п</small>
                    <div class="course__info">
                        <p>Важная информация!</p>
                        <p>Чтобы сделать тапочки спицами, нужно определить их размер.</p>
                    </div>
                </div>
                <div class="course__content-bottom">
                    <a href="#" class="course__content-nav button color-border">Предыдущий урок</a>
                    <a href="#" class="course__content-nav button pink-blue"><span>Следующий урок</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}