{% extends '../modules/base.twig' %}
{% block page %}
<section class="better">
    <div class="better__bg" style="background-image: url(images/bg/bg-1.png);"></div>
    <div class="wrapper">
        <div class="decor-figure">
            <div class="parallax-scroll" data-rellax-speed="1">
                <div class="parallax">
                    <div class="parallax-move" data-depth="0.3">
                        <img src="images/decor/decor-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="better__content">
            <div class="h1" data-aos="zoom-in-left">Становись лучше каждый день</div>
            <p data-aos="zoom-in-left" data-aos-delay="100">Развивайся в любом направлении — от дизайна сайтов до медитации.</p>
            <a href="" class="button yellow" data-aos="zoom-in-left" data-aos-delay="200">
                <span>Попробовать бесплатно</span>
            </a>
        </div>
    </div>
</section>

<section class="gid">
    <div class="wrapper">
        <div class="decor-figure">
            <div class="parallax-scroll" data-rellax-speed="3">
                <div class="parallax">
                    <div class="parallax-move" data-depth="-0.3">
                        <img src="images/decor/decor-2.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="h2">
                Твой персональный гид 
                по&nbsp;всестороннему обучению
            </div>
            <div class="gid__row parallax-scroll" data-rellax-speed="1">
                <div class="gid__col" data-aos="zoom-in">
                    <div class="descr small">
                        <div class="h4">Сравнение курсов</div>
                        <p>Удобные фильтры и сортировка помогут подобрать лучший курс от понравившегося эксперта.</p>
                    </div>
                    <div class="parallax">
                        <div class="parallax-move" data-depth="0.2">
                            <img src="images/gid/img-1.png" alt="" class="img img-1">
                        </div>
                    </div>
                </div>
                <div class="gid__col" data-aos="zoom-in">
                    <div class="descr">
                        <div class="h4">Непрерывное обучение</div>
                        <p>Умная система персональных рекомендаций позволит не останавливаться на достигнутом.</p>
                    </div>
                    <div class="parallax">
                        <div class="parallax-move" data-depth="0.2">
                            <img src="images/gid/img-2.png" alt="" class="img img-2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="gid__row parallax-scroll" data-rellax-speed="1">
                <div class="gid__col" data-aos="zoom-in">
                    <div class="descr small">
                        <div class="h4">Мотивация</div>
                        <p>Чат с преподавателем и общение с&nbsp;другими студентами простимулирует не забросить начатое.</p>
                    </div>
                    <div class="parallax">
                        <div class="parallax-move" data-depth="0.2">
                            <img src="images/gid/img-3.png" alt="" class="img img-3">
                        </div>
                    </div>
                </div>
                <div class="gid__col" data-aos="zoom-in">
                    <div class="descr small">
                        <div class="h4">Всё в одном месте</div>
                        <p>Удобная площадка позволит отслеживать процесс обучения и хранить все материалы в личном кабинете.</p>
                    </div>
                    <div class="parallax">
                        <div class="parallax-move" data-depth="0.2">
                            <img src="images/gid/img-4.png" alt="" class="img img-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="courses">
    <div class="wrapper">
        <div class="decor-figure">
            <div class="parallax-scroll" data-rellax-speed="2">
                <div class="parallax">
                    <div class="parallax-move" data-depth="0.2">
                        <img src="images/decor/decor-3.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="h2">Лучшие курсы месяца</div>
            <p class="big">Мы собрали лучшие курсы этого месяца по рекомендациям наших студентов.</p>
            <div class="courses-grid">

                <div class="courses-grid__item">
                    <div class="course-item" data-aos="zoom-in">
                        <div class="course-item__info">
                            <div class="descr">
                                <div class="h3">Swift - основы</div>
                                <p>Разработчик мобильных приложений проджект менеджер</p>
                            </div>
                            <img src="images/courses/photo-1.png" alt="">
                        </div>
                        <div class="course-item__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="courses-grid__item">
                    <div class="course-item course-item_hexagon" data-aos="zoom-in">
                        <div class="course-item__info">
                            <div class="descr">
                                <div class="h3">Массаж</div>
                                <p>Разработчик мобильных приложений проджект менеджер</p>
                            </div>
                            <img src="images/courses/photo-4.png" alt="">
                        </div>
                        <div class="course-item__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="courses-grid__item">
                    <div class="course-item course-item_hexagon" data-aos="zoom-in">
                        <div class="course-item__info">
                            <div class="descr">
                                <div class="h3">Медитация</div>
                                <p>Разработчик мобильных приложений проджект менеджер</p>
                            </div>
                            <img src="http://via.placeholder.com/100x200" alt="">
                        </div>
                        <div class="course-item__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="courses-grid__item">
                    <div class="course-item" data-aos="zoom-in">
                        <div class="course-item__info">
                            <div class="descr">
                                <div class="h3">Swift - основы</div>
                                <p>Разработчик мобильных приложений проджект менеджер</p>
                            </div>
                            <img src="images/courses/photo-1.png" alt="">
                        </div>
                        <div class="course-item__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="courses-grid__item">
                    <div class="course-item" data-aos="zoom-in">
                        <div class="course-item__info">
                            <div class="descr">
                                <div class="h3">Coding</div>
                                <p>Разработчик мобильных приложений проджект менеджер</p>
                            </div>
                            <img src="images/courses/photo-3.png" alt="">
                        </div>
                        <div class="course-item__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="courses-grid__item">
                    <div class="course-item course-item_hexagon" data-aos="zoom-in">
                        <div class="course-item__info">
                            <div class="descr">
                                <div class="h3">Медитация</div>
                                <p>Разработчик мобильных приложений проджект менеджер</p>
                            </div>
                            <img src="http://via.placeholder.com/200x100" alt="">
                        </div>
                        <div class="course-item__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                </div>

            </div>
            <a href="" class="button yellow">
                <span>Смотреть все курсы</span>
            </a>
        </div>
        <div class="decor-figure">
            <div class="parallax-scroll" data-rellax-speed="3">
                <div class="parallax">
                    <div class="parallax-move" data-depth="-0.35">
                        <img src="images/decor/decor-4.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="comparison" id="comparison-container">
    <div class="comparison__block comparison__block_last">
        <div class="bg -desktop" style="background-image: url(images/bg/bg-2.png);"></div>
        <div class="bg -mobile" style="background-image: url(images/bg/bg-2-mobile.png);"></div>
        <div class="content">
            <div class="wrapper">
                <div class="h2">Прикладные навыки</div>
                <p>
                    Получи доступ к курсам от самых разных экспертов по направлениям от программирования на Java и дизайна сайтов до Nails & Beauty и кулинарии.
                    <br>
                    <br>
                    <br>
                    Такие курсы обозначены прямоугольной плашкой.
                </p>
                <img class="card-picture-arrow -first" src="images/card-arrow-1.svg" alt="">
                <img class="card-picture" src="images/card-1.png" alt="">
                <!-- <div class="course-item">
                    <div class="course-item__info">
                        <div class="descr">
                            <div class="h3">Навыки</div>
                            <p>Здесь собраны все курсы, которые помогут развить Hard Skills</p>
                        </div>
                        <img src="images/courses/photo-3.png" alt="">
                    </div>
                    <div class="course-item__link">
                        <span>Подробнее</span>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="comparison__block comparison__block_first">
        <div class="bg -desktop" style="background-image: url(images/bg/bg-3.png);"></div>
        <div class="bg -mobile" style="background-image: url(images/bg/bg-3-mobile.png);"></div>
        <div class="content">
            <div class="wrapper">
                <div class="h2">Саморазвитие</div>
                <p>
                    Добивайся лучших результатов вместе с Лайтум. Улучши качество жизни с помощью курсов по саморазвитию: от ораторского искусства и тайм-менеджмента до Mindfulness и медиаций.
                    <br>
                    <br>
                    Они обозначены шестиугольными плашками.
                </p>
                <img class="card-picture-arrow -second" src="images/card-arrow-2.svg" alt="">
                <img class="card-picture" src="images/card-2.png" alt="">
                <!-- <div class="course-item course-item_hexagon">
                    <div class="course-item__info">
                        <div class="descr">
                            <div class="h3">Саморазвитие</div>
                            <p>Здесь собраны все курсы, которые помогут развить Soft Skills</p>
                        </div>
                        <img src="images/courses/photo-2.png" alt="">
                    </div>
                    <div class="course-item__link">
                        <span>Подробнее</span>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="comparison__changer" id="comparison-change">
        <img src="images/mobile-changer.svg" alt="">
    </div>
</section>

<section class="free">
    <div class="wrapper">
        <div class="content">
            <div class="h2">Начни бесплатно уже сегодня</div>
            <p class="big">Смотри пробные уроки от наших лучших экспертов, чтобы выбрать подходящий курс.</p>
            <div class="courses-grid">

                        <div class="courses-grid__item">
                            <div class="course-item" data-aos="zoom-in">
                                <div class="course-item__info">
                                    <div class="descr">
                                        <div class="h3">Swift - основы</div>
                                        <p>Разработчик мобильных приложений проджект менеджер</p>
                                    </div>
                                    <img src="images/courses/photo-1.png" alt="">
                                </div>
                                <div class="course-item__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="courses-grid__item">
                            <div class="course-item course-item_hexagon" data-aos="zoom-in">
                                <div class="course-item__info">
                                    <div class="descr">
                                        <div class="h3">Массаж</div>
                                        <p>Разработчик мобильных приложений проджект менеджер</p>
                                    </div>
                                    <img src="images/courses/photo-4.png" alt="">
                                </div>
                                <div class="course-item__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="courses-grid__item">
                            <div class="course-item course-item_hexagon" data-aos="zoom-in">
                                <div class="course-item__info">
                                    <div class="descr">
                                        <div class="h3">Медитация</div>
                                        <p>Разработчик мобильных приложений проджект менеджер</p>
                                    </div>
                                    <img src="http://via.placeholder.com/100x200" alt="">
                                </div>
                                <div class="course-item__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="courses-grid__item">
                            <div class="course-item" data-aos="zoom-in">
                                <div class="course-item__info">
                                    <div class="descr">
                                        <div class="h3">Swift - основы</div>
                                        <p>Разработчик мобильных приложений проджект менеджер</p>
                                    </div>
                                    <img src="images/courses/photo-1.png" alt="">
                                </div>
                                <div class="course-item__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="courses-grid__item">
                            <div class="course-item" data-aos="zoom-in">
                                <div class="course-item__info">
                                    <div class="descr">
                                        <div class="h3">Coding</div>
                                        <p>Разработчик мобильных приложений проджект менеджер</p>
                                    </div>
                                    <img src="images/courses/photo-3.png" alt="">
                                </div>
                                <div class="course-item__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="courses-grid__item">
                            <div class="course-item course-item_hexagon" data-aos="zoom-in">
                                <div class="course-item__info">
                                    <div class="descr">
                                        <div class="h3">Медитация</div>
                                        <p>Разработчик мобильных приложений проджект менеджер</p>
                                    </div>
                                    <img src="http://via.placeholder.com/200x100" alt="">
                                </div>
                                <div class="course-item__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>

            </div>
            <a href="" class="button yellow">
                <span>Смотреть все курсы</span>
            </a>
        </div>
        <div class="decor-figure">
            <div class="parallax-scroll" data-rellax-speed="3">
                <div class="parallax">
                    <div class="parallax-move" data-depth="0.35">
                        <img src="images/decor/decor-4.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="courses-categories">
    <div class="wrapper">
        <div class="content">
            <div class="h2">Категории курсов</div>
            <p class="big">Мы объединили наши курсы в удобные категории, чтобы сделать поиск еще проще.</p>
            <div class="courses-categories-grid">

                        <div class="courses-categories-grid__item">
                            <a href="" class="courses-category-item" data-aos="zoom-in">
                                <div class="parallax-scroll" data-rellax-speed="1">
                                    <img src="http://via.placeholder.com/200x100" alt="">
                                    <div class="info">
                                        <div class="h4">Тайм-менеджмент</div>
                                        <p>25 курсов</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="courses-categories-grid__item">
                            <a href="" class="courses-category-item" data-aos="zoom-in">
                                <div class="parallax-scroll" data-rellax-speed="1">
                                    <img src="http://via.placeholder.com/100x200" alt="">
                                    <div class="info">
                                        <div class="h4">Dev</div>
                                        <p>25 курсов</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="courses-categories-grid__item">
                            <a href="" class="courses-category-item" data-aos="zoom-in">
                                <div class="parallax-scroll" data-rellax-speed="1">
                                    <img src="/images/categories/photo-2.png" alt="">
                                    <div class="info">
                                        <div class="h4">Техника речи</div>
                                        <p>25 курсов</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="courses-categories-grid__item">
                            <a href="" class="courses-category-item" data-aos="zoom-in">
                                <div class="parallax-scroll" data-rellax-speed="1">
                                    <img src="/images/categories/photo-6.png" alt="">
                                    <div class="info">
                                        <div class="h4">Дизайн</div>
                                        <p>25 курсов</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="courses-categories-grid__item">
                            <a href="" class="courses-category-item" data-aos="zoom-in">
                                <div class="parallax-scroll" data-rellax-speed="1">
                                    <img src="/images/categories/photo-3.png" alt="">
                                    <div class="info">
                                        <div class="h4">Лидерство</div>
                                        <p>25 курсов</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="courses-categories-grid__item">
                            <a href="" class="courses-category-item" data-aos="zoom-in">
                                <div class="parallax-scroll" data-rellax-speed="1">
                                    <img src="/images/categories/photo-7.png" alt="">
                                    <div class="info">
                                        <div class="h4">Кулинария</div>
                                        <p>25 курсов</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="courses-categories-grid__item">
                            <a href="" class="courses-category-item" data-aos="zoom-in">
                                <div class="parallax-scroll" data-rellax-speed="1">
                                    <img src="/images/categories/photo-4.png" alt="">
                                    <div class="info">
                                        <div class="h4">Писательство</div>
                                        <p>25 курсов</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="courses-categories-grid__item">
                            <a href="" class="courses-category-item" data-aos="zoom-in">
                                <div class="parallax-scroll" data-rellax-speed="1">
                                    <img src="/images/categories/photo-8.png" alt="">
                                    <div class="info">
                                        <div class="h4">Вокал</div>
                                        <p>25 курсов</p>
                                    </div>
                                </div>
                            </a>
                        </div>

            </div>
            <a href="" class="button blue">
                <span>Смотреть все курсы</span>
            </a>
        </div>
        <div class="decor-figure">
            <div class="parallax-scroll" data-rellax-speed="2.5">
                <div class="parallax">
                    <div class="parallax-move" data-depth="-0.35">
                        <img src="images/decor/decor-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="starter">
    <div class="wrapper">
        <div class="content">
            <div class="h2">С чего начать?</div>
            <p class="big">Попробуйте один из наших бесплатных курсов, чтобы оценить удобство и пользу Лайтум.</p>
            <div class="starter-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide" data-aos="zoom-in">
                            <div class="starter-item starter-item_hexagon">
                                <div class="info">
                                    <div class="descr">
                                        <div class="h3">Само развитие</div>
                                        <p>Разработчик мобильных приложений проджект менеджер</p>
                                    </div>
                                    <div class="picture">
                                        <img src="images/star.svg" alt="">
                                        <img src="images/starter/photo-1.png" alt="">
                                    </div>
                                </div>
                                <p class="status">Бесплатно</p>
                                <div class="about">
                                    <p>
                                        <svg>
                                            <use xlink:href="images/icons.svg#cloack"></use>
                                        </svg>
                                        <span>12 ч. 10 м.</span>
                                    </p>
                                    <p>
                                        <svg>
                                            <use xlink:href="images/icons.svg#person"></use>
                                        </svg>
                                        <span>Уровень: Новичек</span>
                                    </p>
                                </div>
                                <div class="skils">
                                    <p>Ты получишь навыки:</p>
                                    <div class="tags">
                                        <div class="tag">
                                            <p class="purple">Читать</p>
                                        </div>
                                        <div class="tag">
                                            <p class="purple">Писать</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide" data-aos="zoom-in">
                            <div class="starter-item">
                                <div class="info">
                                    <div class="descr">
                                        <div class="h3">Кодинг</div>
                                        <p>Разработчик мобильных приложений проджект менеджер</p>
                                    </div>
                                    <div class="picture">
                                        <img src="images/star.svg" alt="">
                                        <img src="http://via.placeholder.com/200x100" alt="">
                                    </div>
                                </div>
                                <p class="status">Бесплатно</p>
                                <div class="about">
                                    <p>
                                        <svg>
                                            <use xlink:href="images/icons.svg#cloack"></use>
                                        </svg>
                                        <span>12 ч. 10 м.</span>
                                    </p>
                                    <p>
                                        <svg>
                                            <use xlink:href="images/icons.svg#person"></use>
                                        </svg>
                                        <span>Уровень: Новичек</span>
                                    </p>
                                </div>
                                <div class="skils">
                                    <p>Ты получишь навыки:</p>
                                    <div class="tags">
                                        <div class="tag">
                                            <p class="brown">Читать</p>
                                        </div>
                                        <div class="tag">
                                            <p class="brown">Писать</p>
                                        </div>
                                        <div class="tag">
                                            <p class="brown">Самовыражаться</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide" data-aos="zoom-in">
                            <div class="starter-item starter-item_hexagon">
                                <div class="info">
                                    <div class="descr">
                                        <div class="h3">Массаж</div>
                                        <p>Разработчик мобильных приложений проджект менеджер</p>
                                    </div>
                                    <div class="picture">
                                        <img src="images/star.svg" alt="">
                                         <img src="http://via.placeholder.com/100x200" alt="">
                                    </div>
                                </div>
                                <p class="status">Бесплатно</p>
                                <div class="about">
                                    <p>
                                        <svg>
                                            <use xlink:href="images/icons.svg#cloack"></use>
                                        </svg>
                                        <span>12 ч. 10 м.</span>
                                    </p>
                                    <p>
                                        <svg>
                                            <use xlink:href="images/icons.svg#person"></use>
                                        </svg>
                                        <span>Уровень: Новичек</span>
                                    </p>
                                </div>
                                <div class="skils">
                                    <p>Ты получишь навыки:</p>
                                    <div class="tags">
                                        <div class="tag">
                                            <p class="pink">Читать</p>
                                        </div>
                                        <div class="tag">
                                            <p class="pink">Писать</p>
                                        </div>
                                        <div class="tag">
                                            <p class="pink">Самовыражаться</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <a href="" class="button purple">
                <span>Выбрать бесплатный курс</span>
            </a>
        </div>
        <div class="decor-figure">
            <div class="parallax-scroll" data-rellax-speed="3">
                <div class="parallax">
                    <div class="parallax-move" data-depth="0.4">
                        <img src="images/decor/decor-6.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
