{% extends '../modules/base.twig' %}
{% block page %}
<section class="teacher">
    <div class="teacher__bg" style="background-image: url(images/bg/bg-9.jpg);"></div>
    <div class="wrapper">
        <div class="teacher__content">
            <div class="h1" data-aos="zoom-in-left">Делись<br>знаниями</div>
            <p data-aos="zoom-in-left" data-aos-delay="100">А мы поможем вам это организовать.</p>
            <a href="" class="button white" data-aos="zoom-in-left" data-aos-delay="200">
                <span>Стать преподавателем</span>
            </a>
        </div>
    </div>
</section>

<section class="easy">
    <div class="wrapper">
        <div class="easy__content">
            <div class="h2">С лайтум<br>это легко</div>
            <p>
                Лайтум - это платформа для всестороннего образования и личностного роста. 
                Мы открыты для новых и полезных знаний, которыми ежедневно
                обмениваются наши преподаватели и студенты.
                <br><br>
                Мы поможем создать ваш собственный 
                курс и монетезировать его. 
                <br><br>
                От вас нужно лишь желание делиться
                полезными знаниями.
            </p>
        </div>
        <div class="easy__ways">
            <div class="way-picture">
                <div class="parallax-scroll" data-rellax-speed="2.5">
                    <div class="parallax">
                        <div class="parallax-move" data-depth="0.25">
                            <img src="images/ways/item-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="way-picture">
                <div class="parallax-scroll" data-rellax-speed="3">
                    <div class="parallax">
                        <div class="parallax-move" data-depth="0.5">
                            <img src="images/ways/item-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="way-picture">
                <div class="parallax-scroll" data-rellax-speed="1.5">
                    <div class="parallax">
                        <div class="parallax-move" data-depth="0.45">
                            <img src="images/ways/item-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="way-picture">
                <div class="parallax-scroll" data-rellax-speed="2">
                    <div class="parallax">
                        <div class="parallax-move" data-depth="0.25">
                            <img src="images/ways/item-4.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="way-picture">
                <div class="parallax-scroll" data-rellax-speed="3">
                    <div class="parallax">
                        <div class="parallax-move" data-depth="0.35">
                            <img src="images/ways/item-5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="teach-free">
    <div class="teach-free__bg" style="background-image: url(images/bg/bg-7.svg);"></div>
    <div class="wrapper">
        <div class="h2">И самое главное - это бесплатно!</div>
        <div class="teach-free__list">
            <div class="teach-free__item" data-aos="zoom-in">
                <div class="teach-free-card">
                    <img src="/images/teachers/photo-1.png" alt="">
                    <div class="h4">Зарабатывайте деньги</div>
                    <p>Вы зарабатываете на каждом проданном курсе. Мы же оставляем себе лишь коммиссию. Отслеживать статус продаж можно в вашем личном аккаунте.</p>
                </div>
            </div>
            <div class="teach-free__item" data-aos="zoom-in">
                <div class="teach-free-card">
                    <img src="/images/teachers/photo-2.png" alt="">
                    <div class="h4">Передавайте знания</div>
                    <p>Станьте настоящим преподавателем - рассказывайте о своих навыках, проверяйте домашние задания и общайтесь со студентами.</p>
                </div>
            </div>
            <div class="teach-free__item" data-aos="zoom-in">
                <div class="teach-free-card">
                    <img src="/images/teachers/photo-3.png" alt="">
                    <div class="h4">Продвигайте свой бренд</div>
                    <p>Мы не забираем собственность курса себе - вы можете развивать свой личный бренд в рамках нашей платформы.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="create">
    <div class="create__bg" style="background-image: url(images/bg/bg-6.png);"></div>
    <div class="wrapper">
        <div class="h2">Создать свой курс как никогда просто</div>
        <div class="create__row">
            <div class="create__col">
                <p class="h4">зарегестрируйся на лайтум</p>
                <p>Станьте преподователем Лайтум и начните делиться знаниями с людьми, которые ищут их.</p>
                <p class="num">1</p>
            </div>
            <div class="create__col">
                <p class="h4">создай план будущего курса</p>
                <p>Выберете тему, знаниями в которой вы хотите поделиться. Придумайте название, выберете количество будущего материала и стиль повествования.</p>
                <p class="num">2</p>
            </div>
            <div class="create__col">
                <p class="h4">запиши уроки</p>
                <p>Следуйте нашей инструкцие-помощнику, чтобы создать видео- контент вашего курса. Все оборудование уже есть у вас. Мобильный телефон или ноутбук.</p>
                <p class="num">4</p>
            </div>
            <div class="create__col">
                <p class="h4">запустите свой курс</p>
                <p>Загрузите видео-контент и домашние задания для своего курса на платформу Лайтум. Готово!</p>
                <p class="num">3</p>
            </div>
        </div>
    </div>
</section>

<section class="concentrate">
    <div class="wrapper">
        <div class="decor-figure">
            <div class="parallax-scroll" data-rellax-speed="2">
                <div class="parallax">
                    <div class="parallax-move" data-depth="0.35">
                        <img src="images/decor/decor-13.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="h2">Сосредоточьтесь на главном, а все остальное лайтум берет на себя</div>
        <div class="concentrate-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" data-aos="zoom-in">
                        <div class="concentrate-item">
                            <div class="picture">
                                <img src="/images/teachers/photo-4.png" alt="">
                            </div>
                            <p class="h3">Умный конструктор курсов</p>
                            <p>Удобная система для создания и редактирования курса для отслеживания результатор студентов и проверки задания</p>
                        </div>
                    </div>

                    <div class="swiper-slide" data-aos="zoom-in">
                        <div class="concentrate-item">
                            <div class="picture">
                                <img src="/images/teachers/photo-5.png" alt="">
                            </div>
                            <p class="h3 small">Привлечение учеников</p>
                            <p class="small">Анонсы, реклама, продвижение и подборки курсов - вам не нужно продумывать маркетинговую стратегию</p>
                        </div>
                    </div>

                    <div class="swiper-slide" data-aos="zoom-in">
                        <div class="concentrate-item">
                            <div class="picture">
                                <img src="/images/teachers/photo-6.png" alt="">
                            </div>
                            <p class="h3 small">Круглосуточная техническая поддержка</p>
                            <p class="small">Рассылки, напоминания, поддержка сайта, хранение видео и прочие технические тонкости.... Все это - наша задача!</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="decor-figure">
            <div class="parallax-scroll" data-rellax-speed="1">
                <div class="parallax">
                    <div class="parallax-move" data-depth="-0.2">
                        <img src="images/decor/decor-14.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="opportunities" style="background-image: url(images/bg/bg-10.png);">
    <div class="wrapper">
        <div class="h2">Больше возможностей с Лайтум</div>
        <div class="opportunities__list">
            <div class="opportunities-item" data-aos="zoom-in">
                <div class="picture">
                    <img src="/images/teachers/photo-7.png" alt="">
                </div>
                <p>Для старта продаж курса не требуется средства на продвижение, сайт, таргетолог, чат-бот и пр. Лайтум собрал все в одном месте, чтобы вы сосредоточились только на самом важном, распространении своих знаний.</p>
            </div>
            <div class="opportunities-item" data-aos="zoom-in">
                <div class="picture">
                    <img src="/images/teachers/photo-8.png" alt="">
                </div>
                <p>Сервис Лайтум берет только процент с реальных продаж курса, никаких дополнительных затрат от вас не требуется.</p>
            </div>
            <div class="opportunities-item" data-aos="zoom-in">
                <div class="picture">
                    <img src="/images/teachers/photo-9.png" alt="">
                </div>
                <p>Если у вас уже есть курс, размещенный на сторонней платформе, вы  можете также продублировать его на Лайтум, чтобы охватить больше потенциальных студентов и монетезировать его. Это бесплатно.</p>
            </div>
        </div>
    </div>
</section>

<section class="platform">
    <div class="wrapper">
        <div class="decor-figure">
            <div class="parallax-scroll" data-rellax-speed="2">
                <div class="parallax">
                    <div class="parallax-move" data-depth="0.2">
                        <img src="images/decor/decor-15.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="h2">Возможности платформы лайтум</div>
        <div class="platform__list">
            <div class="platform__col">
                <div class="platform-item" data-aos="zoom-in">
                    <img src="/images/opportunity/item-1.png" alt="">
                    <p>Удобный конструктор курса</p>
                </div>
            </div>
            <div class="platform__col">
                <div class="platform-item" data-aos="zoom-in">
                    <img src="/images/opportunity/item-2.png" alt="">
                    <p>Выставление оценок</p>
                </div>
            </div>
            <div class="platform__col">
                <div class="platform-item" data-aos="zoom-in">
                    <img src="/images/opportunity/item-3.png" alt="">
                    <p>Бесплатное продвижение</p>
                </div>
            </div>
            <div class="platform__col">
                <div class="platform-item" data-aos="zoom-in">
                    <img src="/images/opportunity/item-4.png" alt="">
                    <p>Создание продающего лендинга</p>
                </div>
            </div>
            <div class="platform__col">
                <div class="platform-item" data-aos="zoom-in">
                    <img src="/images/opportunity/item-5.png" alt="">
                    <p>Отслеживание статистики</p>
                </div>
            </div>
            <div class="platform__col">
                <div class="platform-item" data-aos="zoom-in">
                    <img src="/images/opportunity/item-6.png" alt="">
                    <p>Чаты с учениками</p>
                </div>
            </div>
            <div class="platform__col">
                <div class="platform-item" data-aos="zoom-in">
                    <img src="/images/opportunity/item-7.png" alt="">
                    <p>Создание тестов для проверки знаний</p>
                </div>
            </div>
            <div class="platform__col">
                <div class="platform-item" data-aos="zoom-in">
                    <img src="/images/opportunity/item-8.png" alt="">
                    <p>Вcтроенная бухгалтерия</p>
                </div>
            </div>
            <div class="platform__col">
                <div class="platform-item" data-aos="zoom-in">
                    <img src="/images/opportunity/item-9.png" alt="">
                    <p>Помощь креативной команды и методиста</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="create-own" style="background-image: url(images/bg/bg-4.jpg);">
    <div class="wrapper">
        <div class="h1">Создай свой первый курс на лайтум уже сегодня</div>
        <a href="" class="button white">
            <span>Создать курс</span>
        </a>
    </div>
</section>

<section class="feedback">
    <div class="wrapper" data-aos="fade-up">
        <div class="feedback__row">
            <div class="h4">Задайте вопрос службе поддержки Лайтум и мы поможем создать ваш первый курс.</div>
            <a href="" class="button transparent">
                <span>Написать</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}