<div class="course__nav course-nav">
    <ul class=" course-nav__list">
        <li class=" course-nav__chapter">
            <h4 class=" course-nav__chapter-title _unlocked">
                <span class="course-nav__indicator"></span>
                <span>Глава 1</span>
            </h4>
            <a href="#" class=" course-nav__link _unlocked">
                <span class="course-nav__indicator"></span>
                <span>Урок 1</span>
            </a>
            <a href="#" class=" course-nav__link _unlocked">
                <span class="course-nav__indicator"></span>
                <span>Урок 2</span>
            </a>
            <a href="#" class=" course-nav__link _unlocked">
                <span class="course-nav__indicator"></span>
                <span>Урок 3</span>
            </a>
            <a href="#" class=" course-nav__link _unlocked">
                <span class="course-nav__indicator"></span>
                <span>Урок 4</span>
            </a>
            <a href="" class="course-nav__link _task _unlocked">
                <span class="course-nav__indicator"></span>
                <svg class="course-nav__checkmark-icon"><use xlink:href="images/icons.svg#checkmark"></use></svg>
                <span>Задание</span>
            </a>
        </li>
        <li class=" course-nav__chapter _current">
            <h4 class=" course-nav__chapter-title _unlocked">
                <span class="course-nav__indicator"></span>
                <span>Глава 2</span>
            </h4>
            <a href="#" class=" course-nav__link _unlocked">
                <span class="course-nav__indicator"></span>
                <span>Урок 1</span>
            </a>
            <a href="#" class=" course-nav__link _unlocked">
                <span class="course-nav__indicator"></span>
                <span>Урок 2</span>
            </a>
            <a href="#" class=" course-nav__link _unlocked _current">
                <span class="course-nav__indicator"></span>
                <span class="button pink-blue"><span>Урок 3</span></span>
            </a>
            <a href="#" class=" course-nav__link _unlocked">
                <span class="course-nav__indicator"></span>
                <span>Урок 4</span>
            </a>
            <a href="" class="course-nav__link _task _unlocked">
                <span class="course-nav__indicator"></span>
                <svg class="course-nav__pen-icon"><use xlink:href="images/icons.svg#pen"></use></svg>
                <span>Задание</span>
            </a>
        </li>
        <li class=" course-nav__chapter">
            <h4 class=" course-nav__chapter-title">
                <span class="course-nav__indicator"></span>
                <svg><use xlink:href="images/icons.svg#lock"></use></svg>
                <span>Глава 3</span>
            </h4>
            <span href="#" class=" course-nav__link">
                <span class="course-nav__indicator"></span>
                <span>Урок 1</span>
            </span>
            <span href="#" class=" course-nav__link">
                <span class="course-nav__indicator"></span>
                <span>Урок 2</span>
            </span>
            <span href="#" class=" course-nav__link">
                <span class="course-nav__indicator"></span>
                <span>Урок 3</span>
            </span>
            <span href="#" class=" course-nav__link">
                <span class="course-nav__indicator"></span>
                <span>Урок 4</span>
            </span>
            <span href="" class="course-nav__link _task">
                <span class="course-nav__indicator"></span>
                <svg class="course-nav__pen-icon"><use xlink:href="images/icons.svg#pen"></use></svg>
                <span>Задание</span>
            </span>
        </li>
    </ul>
</div>