<header class="header">
    <div class="wrapper">
        <div class="header__row">
            <a href="/" class="logo">
                <img class="desktop" src="images/logo-text.png" alt="">
                <img class="mobile" src="images/logo-mobile.png" alt="">
            </a>
            <a href="#" class="course-header__nav-link">Лучшие курсы</a>
            <a href="#" class="course-header__nav-link">Все курсы</a>
            <div class="course-search">
                <button>
                    <svg>
                        <use xlink:href="images/icons.svg#search"></use>
                    </svg>
                </button>
                <input type="text" name="" id="" placeholder="Найти курс">
                <p class="hint"></p>
            </div>
            <a href="" class="log-in">
                <div class="icon">
                    <svg>
                        <use xlink:href="images/icons.svg#lock"></use>
                    </svg>
                </div>
                <span>Выйти</span>
            </a>
            <div class="mobile-section">
                <a href="" class="mobile-light">
                    <div class="icon">
                        <svg>
                            <use xlink:href="images/icons.svg#light-mobile"></use>
                        </svg>
                    </div>
                </a>
                <a href="" class="mobile-log-in">
                    <div class="icon">
                        <svg>
                            <use xlink:href="images/icons.svg#lock-mobile"></use>
                        </svg>
                    </div>
                </a>
                <div class="buregr-btn">
                    <span></span><span></span><span></span>
                </div>  
            </div>
        </div>
    </div>
</header>