<div class="course__decor">
    <div class="decor-figure">
        <div class="parallax-scroll" data-rellax-speed="2">
            <div class="parallax">
                <div class="parallax-move" data-depth="0.35">
                    <img src="images/decor/decor-3.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="decor-figure">
        <div class="parallax-scroll" data-rellax-speed="3">
            <div class="parallax">
                <div class="parallax-move" data-depth="0.3">
                    <img src="images/decor/decor-3.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="decor-figure">
        <div class="parallax-scroll" data-rellax-speed="1.2">
            <div class="parallax">
                <div class="parallax-move" data-depth="0.35">
                    <img src="images/decor/decor-3.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>