<footer class="footer">
    <div class="footer_desktop">
        <div class="wrapper">
            <div class="footer__row">
                <div class="footer__col">
                    <div class="h4">ЛАЙТУМ</div>
                </div>
                <div class="footer__col big">
                    <p>
                        <a href="">Политика конфиденциальности</a><br> и <a href="">Политика использования файлов cookie</a>
                    </p>
                </div>
                <div class="footer__col biger">
                    <div class="navbar">
                        <a href="">Карьера</a>
                        <a href="">Блог</a>
                        <a href="">Справка и поддержка</a>
                        <a href="">Партнер</a>
                    </div>
                </div>
                <div class="footer__col">
                    <div class="social">
                        <a href="">
                            <svg>
                                <use xlink:href="images/icons.svg#facebook"></use>
                            </svg>
                        </a>
                        <a href="">
                            <svg>
                                <use xlink:href="images/icons.svg#twitter"></use>
                            </svg>
                        </a>
                        <a href="">
                            <svg>
                                <use xlink:href="images/icons.svg#vk"></use>
                            </svg>
                        </a>
                        <a href="">
                            <svg>
                                <use xlink:href="images/icons.svg#youtube"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__row">
                <div class="footer__col">
                    <p>© 2021 LIGHTUM, Inc.</p>
                </div>
                <div class="footer__col big">
                    <p>
                        <a href="">Условия использования</a>
                    </p>
                </div>
                <div class="footer__col biger">
                    <div class="navbar">
                        <a href="">О нас</a>
                        <a href="">Наши координаты</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_mobile">
        <div class="wrapper">
            <div class="footer__row">
                <div class="footer__col">
                    <div class="h4">ЛАЙТУМ</div>
                    <p>© 2021 LIGHTUM, Inc.</p>
                    <div class="social">
                        <a href="">
                            <svg>
                                <use xlink:href="images/icons.svg#facebook"></use>
                            </svg>
                        </a>
                        <a href="">
                            <svg>
                                <use xlink:href="images/icons.svg#twitter"></use>
                            </svg>
                        </a>
                        <a href="">
                            <svg>
                                <use xlink:href="images/icons.svg#vk"></use>
                            </svg>
                        </a>
                        <a href="">
                            <svg>
                                <use xlink:href="images/icons.svg#youtube"></use>
                            </svg>
                        </a>
                    </div>
                    <p>
                        <a href="">Политика конфиденциальности</a><br> и <a href="">Политика использования файлов cookie</a>
                    </p>
                </div>
                <div class="footer__col">
                    <div class="navbar">
                        <a href="">Партнер</a>
                        <a href="">Блог</a>
                        <a href="">Карьера</a>
                        <a href="">О нас</a>
                        <a href="">Наши координаты</a>
                        <a href="">Условия использования</a>
                        <a href="">Справка и поддержка</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{# svg-mask #}
<div style="width: 0; height: 0; overflow: hidden">
    <svg>
        <clipPath id="hexagonMask" clipPathUnits="objectBoundingBox">
            <path d="M0.990945 0.493255L0.850011 0.861202C0.833236 0.905011 0.795523 0.935973 0.751076 0.942654L0.376885 0.998668C0.332437 1.00535 0.287867 0.986591 0.260195 0.949463L0.0268153 0.63753C-0.000857247 0.600402 -0.00771415 0.550554 0.00906078 0.506873L0.149995 0.138798C0.166647 0.0951176 0.204483 0.0640271 0.24893 0.0573465L0.623121 0.00133233C0.667568 -0.00534826 0.712138 0.0134088 0.739811 0.0505375L0.973068 0.362598C1.00086 0.399727 1.00772 0.449446 0.990945 0.493255Z"/>
        </clipPath>
    </svg>
</div>