<header class="header">
    <div class="wrapper">
        <div class="header__row">
            <a href="/" class="logo">
                <img class="desktop" src="images/logo-text.png" alt="">
                <img class="mobile" src="images/logo-mobile.png" alt="">
            </a>
            <div class="categories">
                <div class="categories-toggler" data-toggle="categories-list">
                    <span>Категории</span>
                    <svg>
                        <use xlink:href="images/icons.svg#arrow-bottom"></use>
                    </svg>
                </div>
                <ul class="categories-list">
                    <li><a href="">Тайм-менеджмент</a></li>
                    <li><a href="">Техника речи</a></li>
                    <li><a href="">Лидерство</a></li>
                    <li><a href="">Писательство</a></li>
                    <li><a href="">Dev</a></li>
                    <li><a href="">Дизайн</a></li>
                    <li><a href="">Кулинария</a></li>
                    <li><a href="">Вокал</a></li>
                </ul>
            </div>
            <div class="decor decor_vertical">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="course-search">
                <button>
                    <svg>
                        <use xlink:href="images/icons.svg#search"></use>
                    </svg>
                </button>
                <input type="text" name="" id="">
                <p class="hint"></p>
            </div>
            <a href="" class="button purple">
                <svg>
                    <use xlink:href="images/icons.svg#lamp"></use>
                </svg>
                <span>Создать свой курс</span>
            </a>
            <div class="decor">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a href="" class="log-in">
                <div class="icon">
                    <svg>
                        <use xlink:href="images/icons.svg#lock"></use>
                    </svg>
                </div>
                <span>Авторизация</span>
            </a>
            <div class="mobile-section">
                <a href="" class="mobile-light">
                    <div class="icon">
                        <svg>
                            <use xlink:href="images/icons.svg#light-mobile"></use>
                        </svg>
                    </div>
                </a>
                <a href="" class="mobile-log-in">
                    <div class="icon">
                        <svg>
                            <use xlink:href="images/icons.svg#lock-mobile"></use>
                        </svg>
                    </div>
                </a>
                <div class="buregr-btn">
                    <span></span><span></span><span></span>
                </div>  
            </div>
        </div>
    </div>
</header>